<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Welcome</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>

  <body>
    <script src="" async defer></script>
    <!--Content-->
    <header>
      <a href="{% url 'rooms' %}">All rooms</a>
    </header>

    <h1>Welcome to the Meeting Planner</h1>
    <p>Meetings:</p>
    <ul>
      {% for meeting in meetings %}
      <li>
        <a href="{% url 'detail' meeting.id  %}"> {{meeting}} </a>
      </li>
      {% endfor %}
    </ul>
  </body>

  <style>
    body {
      font-family: sans-serif;
      max-width: 728px;
      margin: 0 auto;
      padding: 4rem 1rem;
      color: #444;
    }

    h1 {
      color: #222;
    }

    ul {
      padding: 0;
    }

    li {
      list-style: none;
    }

    li + li {
      margin-top: 0.5rem;
    }
  </style>
</html>
