{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>👾 meeting planner</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'website/global.css' %}" />
    <link rel="stylesheet" href="{% static 'website/welcome.css' %}" />
  </head>

  <body>
    <header class="header">
      <strong class="logo">👾 meeting planner</strong>
    </header>

    <div class="content">
      <div class="card row">
        <a href="{% url 'rooms' %}">🚪 rooms</a>
      </div>

      <div class="card">
        <span
          >Welcome to the <br />
          <h1>👾 meeting planner</h1></span
        >
        <hr />
        <p>Meetings:</p>
        <ul class="meetings">
          {% for meeting in meetings %}
          <a href="{% url 'detail' meeting.id  %}">
            <li class="meeting">
              <span>📅</span>
              <p>{{meeting.title}}</p>
              <p class="min-text">
                at {{meeting.start_time}}, <br />
                {{meeting.date}}
              </p>
            </li>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
